{% extends 'topo.html' %}

{% block content %}
    <h4>Lista de Cidades Atendidas</h4>

    <a href="{% url 'link_cadastrar' %}">Clique Aqui para cadastrar uma nova Cidade</a>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Local</th>
                <th>Telefone</th>
                <th>Email</th>
                <th>Gerenciar</th>
            </tr>
        </thead>
        <tbody>
            {% if lista %}
                {% for cidade in lista %}
                    <tr>
                        <td>{{ cidade.local }}</td>
                        <td>{{ cidade.telefone }}</td>
                        <td>{{ cidade.email }}</td>
                        <td>
                         <a href="{% url 'deletar_cidade' cidade.id %}">
                            Excluir</a>
                            <a href="{% url 'editar_cidade' cidade.id %}">
                            Editar</a>
                        </td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td class="text-center" colspan="3">
                        Nenhuma cidade cadastrada
                    </td>
                </tr>
            {% endif %}
        </tbody>
    </table>
{% endblock %}