{% extends 'topo.html' %}



{% block content %}

    <h4>Lista de Cidades Atendidas</h4>

<div class="cont-cidade">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Cidade</th>
                <th>Telefone</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            {% if lista_cidade %}
                {% for cidade in lista_cidade %}
                    <tr>
                        <td>{{ cidade.local }}</td>
                        <td>{{ cidade.telefone }}</td>
                        <td>{{ cidade.email }}</td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td class="text-center" colspan="3">
                        Nenhuma Cidade cadastrada
                    </td>
                </tr>
            {% endif %}
        </tbody>
    </table>
</div>
<div class="link-cadastro"><a href="{% url 'link_cadastrar' %}">clique para cadastrar</a></div>
{% endblock %}